.login-form {
    width: 100%;
    padding: 30px;
}

.login-header,
.byiodlt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.byiodlt {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.login-header-img {
    max-height: 80px;
}

.byiodlt-img {
    max-width: 100px;
}

ion-input {
    background-color: rgba($color: #f8f8f8, $alpha: 0.8);
    border-radius: 6px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0px 3px 9px -1px rgba(77, 73, 77, 0.2);
    padding: 8px;
}