.account-bal-img {
    max-height: 130px;
}

ion-card-header,
.header,
.account-bal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

ion-card-title {
    color: white;
    text-align: center;
    font-size: 32px;
}

.header {
    font-size: 40px;
    font-style: bold;
}

ion-card {
    background: linear-gradient(#08BEEA, #4817CA);
    width: 80%;
}