.congrats-img {
    max-height: 150px;
    margin: 20px 0px 20px 0px;
}

ion-card-header,
.header,
.congrats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.congrats {
    height: 100%;
}

.header p {
    text-align: center;
    font-size: 40px;
}

ion-card {
    background: linear-gradient(#08BEEA, #4817CA);
    width: 90%;
    height: 100%;
}

ion-button {
    color: darkslategray;
    background-color: whitesmoke;
}