<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo">
      <img src="../../assets/ants.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="congrats">
    <ion-card>
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <div class="header">
          <img class="congrats-img" src="../../assets/prize@2x.png" />
          <p>congrats, you are going to be rewarded 100 ANT$!</p>
          <p>thank you for your contribution!</p>
        </div>
        <ion-button expand="full" [routerLink]="['/main']" color="color-light">BACK TO HOME</ion-button>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>